<div class="container">
  <form #f="ngForm" autocomplete="off">

  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Nova Pessoa</h1>
    </div>

  <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text" name="nome" ngModel #nome="ngModel" required minlength="5">
    <p-message severity="error" text="Informe o nome" *ngIf="nome.hasError('required') && nome.dirty"></p-message>
    <p-message severity="error" text="Mínimo de 5 caracteres" *ngIf="nome.hasError('minlength') && nome.dirty"></p-message>
  </div>

  <div class="ui-g-12 ui-md-9 ui-fluid">
    <label>Logradouro</label>
    <input pInputText type="text" name="logradouro" ngModel #logradouro="ngModel" required>
    <p-message severity="error" text="Informe o logradouro" *ngIf="logradouro.hasError('required') && logradouro.dirty"></p-message>
  </div>

  <div class="ui-g-12 ui-md-3 ui-fluid">
    <label>Número</label>
    <input pInputText type="text" name="numero" ngModel #numero="ngModel" required>
    <p-message severity="error" text="Informe o número" *ngIf="numero.hasError('required') && numero.dirty"></p-message>
  </div>

  <div class="ui-g-12 ui-md-4 ui-fluid">
    <label>Complemento</label>
    <input pInputText type="text">
  </div>

  <div class="ui-g-12 ui-md-4 ui-fluid">
    <label>Bairro</label>
    <input pInputText type="text" name="bairro" ngModel #bairro="ngModel" required>
    <p-message severity="error" text="Informe o bairro" *ngIf="bairro.hasError('required') && bairro.dirty"></p-message>
  </div>

  <div class="ui-g-12 ui-md-4 ui-fluid">
    <label>CEP</label>
    <p-inputMask mask="99.999-999" ngModel #cep="ngModel" required></p-inputMask>
    <p-message severity="error" name="cep" text="Informe o cep" *ngIf="cep.hasError('required') && cep.dirty"></p-message>
  </div>

  <div class="ui-g-12 ui-md-6 ui-fluid">
    <label>Cidade</label>
    <input pInputText type="text" name="cidade" ngModel #cidade="ngModel" [required]="true">
    <p-message severity="error" text="Informe a cidade" *ngIf="cidade.hasError('required') && cidade.dirty"></p-message>
  </div>

  <div class="ui-g-12 ui-md-6 ui-fluid">
    <label>Estado</label>
    <input pInputText type="text" name="estado" ngModel #estado="ngModel" required>
    <p-message severity="error" text="Informe o estado" *ngIf="estado.hasError('required') && estado.dirty"></p-message>
  </div>

  <div class="ui-g-12">
    <button class="btn" pButton type="submit" [disabled]="f.invalid" label="Salvar"></button>
    <button pButton type="button" label="Novo" class="ui-button-info btn"></button>

    <a class="btn" href="javascript:;">Voltar para a pesquisa</a>
  </div>

</div>

  </form>

</div>
